.bg {
    &-color {
         &-blue {
            background-color: $mainBlue;
        }

        &-green {
            background-color: $mainGreen;
        }

        &-purple {
            background-color: $mainPurple;
        }

        &-red {
            background-color: $mainRed;
        }

        &-cyan {
            background-color: $mainCyan;
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}