$mainBlue: #2196f3;
$mainGreen: #62db68;
$mainPurple: #673ab7;
$mainRed: #f44336;
$mainAmber: #ffc107;
$mainCyan: #00bcd4;
$mainOrange: #FF5722;
$mainIndigo: #3F51B5;
$mainWhite: #fff;
$mainDark: #000;

