@import './_transition.scss';

@mixin modal($id, $width:100%, $height:100%, $top:0, $left:0) {
	top: $top;
	height: $height;
	left: -$left;
	max-height: 100%;
	opacity: 0;
	overflow: hidden;
	overflow-y: auto;
	position: fixed;
	visibility: hidden;
	width: $width;
	z-index: 11;

	// @at-root #{$id}:target {
	// 	top: $top;
	// 	left: $left;
	// 	opacity: 1;
	// 	visibility: visible;
	// }
}

// Fade modal in
@mixin modal-fade-in($duration-in: .85s, $duration-out: .7s, $timing: ease-in-out, $id: '#fade', $width: 100%, $height: 100%, $top:0, $left:0) {
	@include modal($id, $width, $height, $top, $left);
	// Transition out: only opacity and delay the rest
	@include transition(opacity #{$duration-out} #{$timing}, bottom 0s #{$duration-out}, left 0s #{$duration-out}, visibility 0s #{$duration-out});

	// Transition in: opacity
	@at-root #{$id}:target {
		@include transition(opacity #{$duration-in} #{$timing});
	}
}

// Slide modal in
@mixin modal-slide-in($direction: top, $duration-in: .85s, $duration-out: .4s, $timing: cubic-bezier(.215, .61, .355, 1), $width:100%, $height:100%, $top: 0, $left:0) {
	$id: '##{$direction}';  //<==

	@include modal($direction, $width, $height, $top, $left);

	// Slide left or right
	@if ($direction == left) or ($direction == right) {
		// Transition out: only left and delay the rest
		@include transition(left #{$duration-out} #{$timing}, bottom 0s #{$duration-out}, opacity 0s #{$duration-out}, visibility 0s #{$duration-out});

		// Slide in from right
		@if $direction == right {
			left: 100%;
		}

		// Transition in: left
		@at-root #{$id}:target {
			@include transition(left #{$duration-in} #{$timing});
		}

	// Slide up or down
	} @else {
		// Transition out: only bottom and delay the rest
		@include transition(top #{$duration-out} #{$timing}, left 0s #{$duration-out}, opacity 0s #{$duration-out}, visibility 0s #{$duration-out});

		// Slide down from top (default)
		@if $direction == top {
			top: -100%;
		}

		// Transition in: bottom
		@at-root #{$id}:target {
			@include transition(top #{$duration-in} #{$timing});
		}
	}
}